@import url('https://fonts.cdnfonts.com/css/bubbly-2');


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, lch(90 2.22 62.5) 80%, lch(78 2.15 94.43) 100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

.calories {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50%; 
  left: 20%;
}

.time {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 30%; 
  left: 20%;
}

.goal {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 20%; 
  left: 20%;
}


.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Bubbly', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

.sidebar{
  position: absolute;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #EEF4EE;
  transition: all .5s ease;
  overflow-y: auto;
}
.sidebar header{
  font-size: 28px;
  color: #EEF4EE;
  line-height: 70px;
  text-align: center;
  background-color: #f07a6a;
  font-family: 'Bubbly', sans-serif;
  border-top: #000;
  border-bottom: #000;
}
.sidebar button{
  display: block;
  height: 65px;
  width: 100%;
  color: #FFFF;
  font-weight: 500;
  font-family: 'Bubbly', sans-serif;
  transition: all .5s ease;
  text-align: center;
  background-color: #754c24;
  font-size: large;
  border-top: #f07a6a;
  border-bottom: #f07a6a;
  border-width: 3px;
}

button.active,button:hover{
  background-color: navajowhite;
}

#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #ee6352;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   3.5px 3.5px 20px 0px rgba(0,0,0,.1),
   2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

#reload{
  position: absolute;
  right: 60px;
  top: 0px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 28px;
  border-color: #f28b7d;
  background-color: #ee6352;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   3.5px 3.5px 20px 0px rgba(0,0,0,.1),
   2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  transition: all .5s ease;
  user-select: none;
}

#exit{
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  color: #ffffff;
  border-color: #f28b7d;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #ee6352;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  inset -7px -7px 10px 0px rgba(0,0,0,.1),
  3.5px 3.5px 20px 0px rgba(0,0,0,.1),
  2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  transition: all .5s ease;
  user-select: none;
}


/* Hide scrollbar */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* CSS for the finish message */
.message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 200px;
  background-color: #ee6352;
  color: white;
  font-size: 20px;
  font-family: 'Bubbly', sans-serif;
  border-radius: 10px;
  z-index: 9999;
  text-align: center;
}
