body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/images/Calories.png'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #exit {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    color: #ffffff;
    border-color: #f28b7d;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #ee6352;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
      3.5px 3.5px 20px 0px rgba(0, 0, 0, 0.1),
      2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    height: 45px;
    width: 45px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
    user-select: none;
  }
  

  